body{
	background-color:#212121; ;
	padding: 0;
	margin: 0;
}

input[type="file"]{

	display: none;

	
}
.custom-file-upload {
	color:white;
	height: 60px;
	width: 347px;
	background-color: #ff875f;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 127px;
	top: 0;
	font-size: 40;
	justify-content:center ;
	align-items: center;
	font-weight: bold;
}


button{
	color:white;
	height: 60px;
	width: 250px;
    transition: padding-right .3s ease;
	background-color: #de4b2253;
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	font-size: 40;
	justify-content:center ;
	align-items: center;


}
button:hover{
    background: #de4b22;
   
}


#imageName{
	color:green;
	font-size: 40;
}






.load {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: inherit
}

.load::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px solid #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 1s ease infinite;
    z-index: 10
}

.load::before {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 3px dashed #fff;
    width: 30px;
    height: 30px;
    border-left: 3px solid transparent;
    border-bottom: 3px solid transparent;
    animation: loading1 2s linear infinite;
    z-index: 5
}

@keyframes loading1 {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

button.active {
    transform: scale(.85)
}

button.activeLoading .loading {
    visibility: visible;
    opacity: 1
}

button .loading {
    opacity: 0;
    visibility: hidden
}











